
<div><a href="/exchange_rate/new">New conversion</a></div>


<div id="results">
  <table>

    <tr>
      <td></td>
      <td></td>
      <td class="label">Amount</td>
    </tr>

    <tr>
      <td class="label">Base Currency</td>
      <td><%= @from_currency %></td>  
      <td><%= @amount %></td>
    </tr>

    <tr>
      <td class="label">Counter Currency</td>
      <td><%= @to_currency %></td>
      <td><%= @converted_amount %></td>
    </tr>

    <tr>
      <td class="label">Exchange Rate</td>
      <td><%= @exchange_rate.round(5) %></td>
    </tr>

    <tr>
      <td class="label">Date Requested</td>
      <td><%= @date_requested %></td>
    </tr>

  </table>
</div>




